main{
	margin: 0;
	padding: 0;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #23E3C9;
}

.slider{
	width: 800px;
	height: 500px;
	border-radius: 10px;
	overflow: hidden;
}

.slides{
    width: 500%;
	height: 500px;
	display: flex;
}

.slide first{
	height: 500px;
	width: auto;
}